/******************************************************************
Site Name:
Author:

Stylesheet: Main Stylesheet
******************************************************************/
/* = Variables 
-------------------------------------------------------------------------------------------------------------------- */
/* Breakpoints */
/* Fonts */
/* Colours */
/* = Mixins 
-------------------------------------------------------------------------------------------------------------------- */
/******************************************************************

Mixins & Extensions

******************************************************************/
.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

/* = Variables 
-------------------------------------------------------------------------------------------------------------------- */
p, a, td, th, h2, h3, h4, h5, label {
  font-family: "Lato", Helvetica, Arial, sans-serif; }

/* = Tables 
-------------------------------------------------------------------------------------------------------------------- */
.table-width {
  max-width: 500px;
  margin: 0 auto; }
  .table-width th, .table-width td {
    text-align: center; }

.table-header {
  margin-bottom: 1rem; }

.table-content {
  margin-bottom: 2rem; }

.thumbnail {
  max-width: 625px;
  min-height: 375px;
  margin: 0 auto 1rem;
  border-color: rgba(80, 125, 206, 0.9); }
  .thumbnail .caption {
    padding-top: 0;
    text-align: center; }
    .thumbnail .caption h3, .thumbnail .caption h4 {
      background: rgba(80, 125, 206, 0.9);
      width: 100%;
      padding: 5px 0;
      color: #fff; }
  .thumbnail h3 {
    margin-bottom: 0; }
  .thumbnail h4 {
    margin-top: 0; }

/* = Header
-------------------------------------------------------------------------------------------------------------------- */
header {
  position: relative;
  height: 40rem;
  text-align: center;
  color: #fff;
  margin-bottom: 1rem;
  background-image: url(../img/the-ball-sm2.jpg);
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover; }
  @media screen and (min-width: 768px) {
    header {
      background: url(../img/the-ball-md2.jpg);
      background-position: center center;
      background-repeat: none;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover; } }
  @media screen and (min-width: 992px) {
    header {
      height: 45rem;
      background: url(../img/the-ball-sm.jpg);
      background-position: center center;
      background-repeat: none;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover; } }
  @media screen and (min-width: 1200px) {
    header {
      height: 45rem;
      background: url(../img/the-ball-lg.jpg);
      background-position: center center;
      background-repeat: none;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover; } }

.soccer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 30%;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.5); }
  .soccer h1 {
    font-family: "Amarante", "Century Gothic", Georgia, cursive;
    font-size: 5.5rem; }
    @media screen and (max-width: 768px) {
      .soccer h1 {
        font-size: 3rem; } }
    @media screen and (min-width: 768px) and (max-width: 992px) {
      .soccer h1 {
        font-size: 3.5rem; } }

.sub-header {
  font-size: 3.5rem;
  text-align: center; }

/* = Main Navigation
-------------------------------------------------------------------------------------------------------------------- */
.navbar {
  margin: 0;
  background: #FC8036; }

.navbar-brand {
  font-family: "Amarante", "Century Gothic", Georgia, cursive;
  font-size: 3rem; }

.navbar-default .navbar-brand {
  color: #fff; }

.navbar-default {
  border: none; }

.navbar-default .navbar-nav > li > a {
  color: #fff; }

/* = Footer
-------------------------------------------------------------------------------------------------------------------- */
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 50px; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  color: #fff;
  background-color: #FC8036;
  padding: 2rem;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
