header {
	position: relative;
	height: 40rem;
   text-align: center;
   color: #fff;
	margin-bottom: 1rem;
   background-image: url(../img/the-ball-sm2.jpg);
   background-position: center center;
   background-repeat: none;
   @include bkg-size();
	@media screen and (min-width: $breakpoint-sm) {
		
   	background: url(../img/the-ball-md2.jpg);
		background-position: center center;
   background-repeat: none;
   @include bkg-size();
  }
	@media screen and (min-width: $breakpoint-md) {
		height: 45rem;
   	background: url(../img/the-ball-sm.jpg);
		background-position: center center;
   background-repeat: none;
   @include bkg-size();
  }
	@media screen and (min-width: $breakpoint-lg) {
		height: 45rem;
   	background: url(../img/the-ball-lg.jpg);
		background-position: center center;
   background-repeat: none;
   @include bkg-size();
  }
}

.soccer{
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height: 30%;
	padding: 2rem;
	background-color: $head-font-bkg;
	h1{
		font-family: $header-font;	
		font-size: $h1-size;
		
		@media screen and (max-width: $breakpoint-sm){
			font-size: $h3-size;	
		}
		
		@media screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-md){
			font-size: $h2-size;	
		}
	}
}

.sub-header{
	font-size: $h2-size;
	text-align: center;
}
