.navbar{
	margin: 0;
	background: $nav-foot-bkg;
}

.navbar-brand{
	font-family: $header-font;
	font-size: $h3-size;
}

.navbar-default .navbar-brand{
	color: $font-wh;
}

.navbar-default{
	border: none;
}


.navbar-default .navbar-nav>li>a{
	color: $font-wh;
	
}