$base-font-size     : 1em;
$base-text-color    : #000000;
$base-link-color    : #000000;
$base-hdr-color     : #000000;
$base-line-height   : 1.3;

/* Breakpoints */
$breakpoint-sm : 768px;
$breakpoint-md : 992px; 
$breakpoint-lg : 1200px; 

/* Fonts */
$font-primary:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-secondary:  "Georgia", Cambria, Times New Roman, Times, serif;


/* Colours */
$head-font-bkg: rgba(0, 0, 0, 0.5);